@charset "UTF-8";
#wrap {
  letter-spacing: -1.5px;
}

#wrap > header {
  position: relative;
  width: 1120px;
  height: 115px;
  margin: 0 auto;
}

#wrap > header > .top-menu {
  position: relative;
}

#wrap > header > .top-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  right: 0px;
  top: 10px;
}

#wrap > header > .top-menu > ul > li {
  margin-right: 15px;
}

#wrap > header > .top-menu > ul > li > a {
  display: block;
}

#wrap > header > .top-menu > ul > li.log > a {
  color: #7e7e7e;
  font-family: '돋움';
  font-size: 11px;
}

#wrap > header > .top-menu > ul > li.mall {
  position: relative;
  font-weight: 400;
  font-size: 13px;
}

#wrap > header > .top-menu > ul > li.mall > a {
  height: 18px;
  padding: 0 24px 0 14px;
}

#wrap > header > .top-menu > ul > li.mall > a > span {
  display: block;
  position: absolute;
  right: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  background-image: url(./../images/ico_nav.png);
}

#wrap > header > .top-menu > ul > li.mall::before {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 1px;
  height: 11px;
  background-color: #ababab;
  content: '';
}

#wrap > header > .top-menu > ul > li:nth-child(5) {
  margin-right: 0;
}

#wrap > header > .top-menu > ul > li:hover > a {
  text-decoration: underline;
}

#wrap > header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
}

#wrap > header > nav > .btn-menu {
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-image: url(./../images/img_gnb_menu.png);
  background-position: 0 -60px;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

#wrap > header > nav > .toggleBgp {
  background-position: 0 0;
}

#wrap > header > nav > .btn-gnb {
  display: none;
  position: absolute;
  left: -20px;
  top: 80px;
  width: 1160px;
  height: 505px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  z-index: 100;
}

#wrap > header > nav > .btn-gnb > .gnb-list {
  width: 190px;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .gnb-benefit {
  height: 225px;
  display: block;
  border-bottom-left-radius: 10px;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .gnb-benefit > span {
  display: block;
  position: relative;
  margin-left: 20px;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .gnb-benefit > span:nth-child(1) {
  margin-top: 95px;
  color: #7e7e7e;
  font-weight: 500;
  font-size: 13px;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .gnb-benefit > span:nth-child(1)::before {
  display: block;
  position: absolute;
  left: 0;
  top: -63px;
  width: 46px;
  height: 53px;
  background-image: url(./../images/e0da3e59-31bd-4c8f-8830-ff8785dc032a.png);
  content: '';
}

#wrap > header > nav > .btn-gnb > .gnb-list > .gnb-benefit > span:nth-child(2) {
  width: 130px;
  margin-top: 15px;
  color: #444;
  font-weight: 600;
  font-size: 17px;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .gnb-benefit > span:nth-child(3) {
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .gnb-benefit > span:nth-child(3)::after {
  display: block;
  position: absolute;
  left: 65px;
  top: -8px;
  width: 29px;
  height: 29px;
  background-image: url(./../images/ico_btn_right.png);
  content: '';
}

#wrap > header > nav > .btn-gnb > .gnb-list > .list > li {
  position: relative;
  color: #444;
  font-weight: 400;
  font-size: 17px;
  line-height: 55px;
  text-indent: 20px;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .list > li:nth-child(1) {
  border-top-left-radius: 10px;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .list > li.on {
  color: #fff;
  background-color: #ec1f2f;
}

#wrap > header > nav > .btn-gnb > .gnb-list > .list > li.on::after {
  display: block;
  position: absolute;
  right: 25px;
  top: 21px;
  width: 8px;
  height: 13px;
  background-image: url(./../images/ico_sub_arrow.png);
  content: '';
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list {
  display: none;
  position: absolute;
  left: 190px;
  top: 0;
  width: 970px;
  height: 505px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > h2 {
  margin: 48px 0 0 45px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > h2 > a {
  display: inline-block;
  font-size: 30px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 25px 0 0 45px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > ul > li {
  margin-right: 145px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > ul > li > .list-sub-head {
  display: inline-block;
  margin-bottom: 15px;
  color: #444;
  font-weight: 500;
  font-size: 17px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > ul > li > .list-sub-head:hover {
  color: #000;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > ul > li > ol > li > a {
  display: inline-block;
  color: #7e7e7e;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > ul > li > ol > li > a:hover {
  color: #ec1f2f;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list > ul > li:last-child {
  margin-right: 0;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(1) {
  display: block;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(2) > ul > li:first-child > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 260px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(2) > ul > li:first-child > ol > li {
  margin-right: 20px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(3) > ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(3) > ul > li {
  width: 125px;
  margin-right: 95px;
  margin-bottom: 50px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(4) > ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(4) > ul > li {
  width: 130px;
  margin-right: 50px;
  margin-bottom: 50px;
}

#wrap > header > nav > .btn-gnb > .gnb-sub-list > .sub-list:nth-child(5) > ul > li {
  margin-right: 100px;
}

#wrap > header > nav > .btn-gnb::before {
  position: absolute;
  left: 190px;
  top: 0;
  display: block;
  width: 1px;
  height: 505px;
  background-color: #ccc;
  content: '';
}

#wrap > header > nav > h1 > a {
  display: block;
  width: 111px;
  margin-left: 44px;
  line-height: 60px;
  text-indent: -9999px;
  background-image: url(./../images/img_logo.png);
  background-repeat: no-repeat;
}

#wrap > header > nav > .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-left: 64px;
}

#wrap > header > nav > .gnb > li {
  height: 80px;
  padding: 0 35px;
}

#wrap > header > nav > .gnb > li:first-child {
  padding-left: 0;
}

#wrap > header > nav > .gnb > li:last-child {
  padding-right: 0;
}

#wrap > header > nav > .gnb > li > a {
  display: block;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}

#wrap > header > nav > .gnb > li:hover > a {
  color: #ec1f2f;
}

#wrap > header > nav > .gnb > li > .lnb {
  display: none;
  position: absolute;
  top: 105px;
  z-index: 200;
}

#wrap > header > nav > .gnb > li > .lnb > li {
  line-height: 30px;
}

#wrap > header > nav > .gnb > li > .lnb > li > a {
  color: #444;
  font-weight: 400;
  font-size: 14px;
}

#wrap > header > nav > .gnb > li > .lnb > li:hover > a {
  color: #ec1f2f;
}

#wrap > header > nav > .right-menu {
  position: absolute;
  right: 0;
  top: 20px;
}

#wrap > header > nav > .right-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#wrap > header > nav > .right-menu > ul > li {
  margin-right: 25px;
}

#wrap > header > nav > .right-menu > ul > li > a {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

#wrap > header > nav > .right-menu > ul > li:nth-child(1) > a {
  width: 28px;
  height: 28px;
  background-image: url(./../images/ico_search.png);
}

#wrap > header > nav > .right-menu > ul > li:nth-child(2) > a {
  width: 31px;
  height: 28px;
  background-image: url(./../images/ico_benefit.png);
}

#wrap > header > nav > .right-menu > ul > li:nth-child(3) {
  margin-right: 0;
}

#wrap > header > nav > .right-menu > ul > li:nth-child(3) > a {
  width: 26px;
  height: 27px;
  background-image: url(./../images/ico_my_info.png);
}

#wrap > header > nav > .bg-lnb {
  position: absolute;
  left: -20px;
  top: 80px;
  display: none;
  width: 1160px;
  height: 405px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  z-index: 200;
}

#wrap > header > nav > .bg-lnb > a {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 210px;
  height: 115px;
  padding-top: 195px;
  padding-left: 20px;
  color: #444;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.3em;
  border-bottom-left-radius: 10px;
}

#wrap > header > nav > .bg-lnb > a::before {
  display: block;
  position: absolute;
  left: 16px;
  top: 26px;
  width: 190px;
  height: 145px;
  background-image: url(./../images/premium_membership.png);
  content: '';
}

#wrap > header > nav > .bg-lnb > a::after {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  content: '자세히 보기';
}

#wrap > header > nav > .bg-lnb > a > span {
  display: block;
}

#wrap > header > nav > .bg-lnb > a > span::after {
  position: absolute;
  left: 85px;
  bottom: 27px;
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(./../images/ico_btn_right.png);
  content: '';
}

#wrap > header > nav > .bg-lnb::before {
  display: block;
  position: absolute;
  left: 230px;
  width: 1px;
  height: 405px;
  background-color: #ccc;
  content: '';
}

#wrap > section > .slides {
  position: relative;
  width: 1120px;
  height: 360px;
  margin: 0 auto;
}

#wrap > section > .slides > .slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: -2300px;
  top: 0;
  width: 5720px;
  height: 100%;
}

#wrap > section > .slides > .slides-container > li {
  width: 1120px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

#wrap > section > .slides > .slides-container > li > a {
  display: block;
  line-height: 360px;
  text-indent: -9999px;
  border-radius: 20px;
}

#wrap > section > .slides > .slides-container > li:nth-child(1) {
  background-image: url(./../images/45b9d6c4-e128-4565-bbcd-03a3bb9b6246.jpg);
}

#wrap > section > .slides > .slides-container > li:nth-child(2) {
  background-image: url(./../images/ac40cdfe-4ed6-4625-b410-61cd054b3fd9.jpg);
}

#wrap > section > .slides > .slides-container > li:nth-child(3) {
  background-image: url(./../images/4282ac2e-523a-4fab-a76e-30889faf2566.png);
}

#wrap > section > .slides > .slides-container > li:nth-child(4) {
  background-image: url(./../images/e84b61f8-87b4-4c55-b35e-e60b5c3fe704.png);
}

#wrap > section > .slides > .slides-container > li:nth-child(5) {
  background-image: url(./../images/859b51a9-5528-42e1-a8c8-5322a5c2afb6.png);
}

#wrap > section > .slides > .btn {
  position: absolute;
  top: 50%;
  display: block;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  line-height: 80px;
  text-indent: -9999px;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  border-radius: 50%;
}

#wrap > section > .slides > .btn::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 10px;
  height: 17px;
  margin-top: -9px;
  content: '';
}

#wrap > section > .slides > .btn.prev {
  left: -130px;
}

#wrap > section > .slides > .btn.prev::after {
  margin-left: -6px;
  background-image: url(./../images/ico_swiper_prev.png);
}

#wrap > section > .slides > .btn.next {
  right: -130px;
}

#wrap > section > .slides > .btn.next::after {
  margin-left: -3px;
  background-image: url(./../images/ico_swiper_next.png);
}

#wrap > section > .recommend > .recommend-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 1120px;
  margin: 30px auto 60px;
  padding: 40px 60px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

#wrap > section > .recommend > .recommend-container > li {
  width: 120px;
  margin-right: 55px;
}

#wrap > section > .recommend > .recommend-container > li:nth-child(1), #wrap > section > .recommend > .recommend-container > li:nth-child(2), #wrap > section > .recommend > .recommend-container > li:nth-child(3), #wrap > section > .recommend > .recommend-container > li:nth-child(4), #wrap > section > .recommend > .recommend-container > li:nth-child(5), #wrap > section > .recommend > .recommend-container > li:nth-child(6) {
  margin-bottom: 40px;
}

#wrap > section > .recommend > .recommend-container > li:nth-child(6), #wrap > section > .recommend > .recommend-container > li:nth-child(12) {
  margin-right: 0;
}

#wrap > section > .recommend > .recommend-container > li > a {
  display: block;
  position: relative;
  padding-top: 60px;
  color: #333;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
}

#wrap > section > .recommend > .recommend-container > li > a > img {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -30px;
}

#wrap > section > .register {
  width: 100%;
  height: 110px;
  margin-bottom: 60px;
  background-color: #f5f5f5;
  border: 1px solid transparent;
}

#wrap > section > .register > .register-container {
  position: relative;
  width: 1120px;
  height: 70px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
}

#wrap > section > .register > .register-container > p {
  color: #888;
  font-weight: 400;
  font-size: 17px;
  line-height: 70px;
  text-indent: 220px;
  letter-spacing: -0.5px;
}

#wrap > section > .register > .register-container > a {
  display: block;
  position: absolute;
  right: 220px;
  top: 50%;
  width: 250px;
  height: 44px;
  margin-top: -22px;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 44px;
  text-indent: 30px;
  text-align: center;
  background-color: #ec1f2f;
  border-radius: 40px;
}

#wrap > section > .register > .register-container > a::after {
  display: block;
  position: absolute;
  left: 70px;
  top: 50%;
  width: 28px;
  height: 21px;
  margin-top: -11px;
  background-image: url(./../images/ico_baby_lg.png);
  content: '';
}

#wrap > section > .contents > h2 {
  width: 1120px;
  margin: 0 auto 40px;
  font-size: 28px;
}

#wrap > section > .contents > .contents-01-container {
  width: 1120px;
  margin: 0 auto 30px;
}

#wrap > section > .contents > .contents-01-container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#wrap > section > .contents > .contents-01-container > ul > li {
  position: relative;
  width: 256px;
  height: 320px;
  margin: 0 32px 32px 0;
}

#wrap > section > .contents > .contents-01-container > ul > li > .img {
  display: block;
  width: 100%;
  height: 160px;
  margin-bottom: 30px;
  text-indent: -9999px;
  background-size: cover;
  border-radius: 10px;
}

#wrap > section > .contents > .contents-01-container > ul > li > .text-container {
  width: 236px;
  margin: 0 auto;
}

#wrap > section > .contents > .contents-01-container > ul > li > .text-container > span {
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}

#wrap > section > .contents > .contents-01-container > ul > li > .text-container > h3 > a {
  display: block;
  font-size: 20px;
}

#wrap > section > .contents > .contents-01-container > ul > li > .text-container > .lc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#wrap > section > .contents > .contents-01-container > ul > li > .text-container > .lc-container > span {
  display: block;
  position: relative;
  width: 32px;
  height: 24px;
  margin-right: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

#wrap > section > .contents > .contents-01-container > ul > li > .text-container > .lc-container > .like::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 24px;
  background-image: url(./../images/ico_like.png);
  content: '';
}

#wrap > section > .contents > .contents-01-container > ul > li > .text-container > .lc-container > .comment::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 24px;
  background-image: url(./../images/ico_comment.png);
  content: '';
}

#wrap > section > .contents > .contents-01-container > ul > li:nth-child(4), #wrap > section > .contents > .contents-01-container > ul > li:nth-child(7) {
  margin-right: 0;
}

#wrap > section > .contents > .contents-01-container > ul > li:nth-child(1) > .img {
  background-image: url(./../images/15117_1164019391.jpg);
}

#wrap > section > .contents > .contents-01-container > ul > li:nth-child(2) > .img {
  background-image: url(./../images/15112_510699276.jpeg);
}

#wrap > section > .contents > .contents-01-container > ul > li:nth-child(3) > .img {
  background-image: url(./../images/15122_1324041620.jpg);
}

#wrap > section > .contents > .contents-01-container > ul > li:nth-child(6) > .img {
  background-image: url(./../images/15121_1292034809.jpg);
}

#wrap > section > .contents > .contents-01-container > ul > li:nth-child(7) > .img {
  background-image: url(./../images/15114_1197612547.jpeg);
}

#wrap > section > .contents > .contents-01-container > ul > li.small-banner > a {
  display: block;
  height: 100%;
  text-indent: -9999px;
  background-image: url(./../images/3defad72-6efe-47c6-af73-b9321136ed1f.png);
  border-radius: 10px;
}

#wrap > section > .contents > .contents-01-container > ul > li.big-banner {
  width: 544px;
}

#wrap > section > .contents > .contents-01-container > ul > li.big-banner > a {
  display: block;
  height: 100%;
  text-indent: -9999px;
  background-image: url(./../images/2e867b52-baee-499e-8c35-a755a92a4bc0.png);
  border-radius: 10px;
}

#wrap > section > .contents > .recommend-product {
  width: 100%;
  height: 340px;
  margin-bottom: 70px;
  background-color: #f8ece1;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container {
  position: relative;
  width: 1120px;
  height: 100%;
  margin: 0 auto;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > h2 {
  display: inline-block;
  margin-top: 55px;
  margin-right: 100px;
  font-size: 28px;
  line-height: 45px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > h2 > span {
  display: block;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides {
  overflow: hidden;
  position: absolute;
  left: 200px;
  top: 65px;
  width: 2180px;
  height: 210px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 2180px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li {
  width: 200px;
  height: 210px;
  background-color: #fff;
  border-radius: 10px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li > a {
  display: block;
  height: 210px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li > a > span {
  display: block;
  margin: 0 auto;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li > a > span:nth-child(1) {
  width: 120px;
  height: 120px;
  margin-top: 15px;
  text-indent: -9999px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li > a > span:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  height: 48px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(1) > a > span:nth-child(1) {
  background-image: url(./../images/8ebc55e1-9e26-4e11-8dc9-88eae4ef89dc.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(2) > a > span:nth-child(1) {
  background-image: url(./../images/c18c357b-4e50-4159-9109-ddbfe7b966f0.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(3) > a > span:nth-child(1) {
  background-image: url(./../images/e3643b95-9f13-4ce0-abfe-ae6f282a86b3.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(4) > a > span:nth-child(1) {
  background-image: url(./../images/995959eb-2216-4251-bd23-dee42c0f4da3.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(5) > a > span:nth-child(1) {
  background-image: url(./../images/788767c9-7075-4592-b44f-1f8dfdbad63b.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(6) > a > span:nth-child(1) {
  background-image: url(./../images/6674b89b-4560-428e-ab31-fa6acc02f32a.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(7) > a > span:nth-child(1) {
  background-image: url(./../images/782c906c-1678-4db5-b2c7-12402f8089e1.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(8) > a > span:nth-child(1) {
  background-image: url(./../images/b2038cdb-5ebf-4446-a3a4-e98afcf9d2ba.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(9) > a > span:nth-child(1) {
  background-image: url(./../images/41075044-9c14-402d-bb90-4940764563c2.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .product-slides > .product-slides-container > li:nth-child(10) > a > span:nth-child(1) {
  background-image: url(./../images/8d8ecc1c-152d-4a0c-8bee-929d8a037d96.jpg);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .btn {
  position: absolute;
  top: 50%;
  display: block;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  line-height: 80px;
  text-indent: -9999px;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  border-radius: 50%;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .btn::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 10px;
  height: 17px;
  margin-top: -9px;
  content: '';
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .btn.prev {
  left: -130px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .btn.prev::after {
  margin-left: -6px;
  background-image: url(./../images/ico_swiper_prev.png);
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .btn.next {
  right: -130px;
}

#wrap > section > .contents > .recommend-product > .recommend-product-container > .btn.next::after {
  margin-left: -3px;
  background-image: url(./../images/ico_swiper_next.png);
}

#wrap > section > .contents > .contents-02-container {
  width: 1120px;
  margin: 0 auto 30px;
}

#wrap > section > .contents > .contents-02-container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#wrap > section > .contents > .contents-02-container > ul > li {
  position: relative;
  width: 256px;
  height: 320px;
  margin: 0 32px 32px 0;
}

#wrap > section > .contents > .contents-02-container > ul > li > .img {
  display: block;
  width: 100%;
  height: 160px;
  margin-bottom: 30px;
  text-indent: -9999px;
  background-size: cover;
  border-radius: 10px;
}

#wrap > section > .contents > .contents-02-container > ul > li > .text-container {
  width: 236px;
  margin: 0 auto;
}

#wrap > section > .contents > .contents-02-container > ul > li > .text-container > span {
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}

#wrap > section > .contents > .contents-02-container > ul > li > .text-container > h3 > a {
  display: block;
  font-size: 20px;
}

#wrap > section > .contents > .contents-02-container > ul > li > .text-container > .lc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#wrap > section > .contents > .contents-02-container > ul > li > .text-container > .lc-container > span {
  display: block;
  position: relative;
  width: 32px;
  height: 24px;
  margin-right: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

#wrap > section > .contents > .contents-02-container > ul > li > .text-container > .lc-container > .like::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 24px;
  background-image: url(./../images/ico_like.png);
  content: '';
}

#wrap > section > .contents > .contents-02-container > ul > li > .text-container > .lc-container > .comment::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 24px;
  background-image: url(./../images/ico_comment.png);
  content: '';
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(4), #wrap > section > .contents > .contents-02-container > ul > li:nth-child(7), #wrap > section > .contents > .contents-02-container > ul > li:nth-child(10) {
  margin-right: 0;
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(1) > .img {
  background-image: url(./../images/15108_526313663.jpg);
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(2) > .img {
  background-image: url(./../images/15119_660340974.jpeg);
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(3) > .img {
  background-image: url(./../images/15115_1270939918.jpeg);
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(6) > .img {
  background-image: url(./../images/15109_1187992228.jpeg);
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(7) > .img {
  background-image: url(./../images/15110_1068741572.jpeg);
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(8) > .img {
  background-image: url(./../images/15107_1083642582.jpg);
}

#wrap > section > .contents > .contents-02-container > ul > li:nth-child(9) > .img {
  background-image: url(./../images/15105_1324608629.jpg);
}

#wrap > section > .contents > .contents-02-container > ul > li.small-banner > a {
  display: block;
  height: 100%;
  text-indent: -9999px;
  background-image: url(./../images/d3064736-e2f0-487e-beaf-c9d5b3880d0d.png);
  border-radius: 10px;
}

#wrap > section > .contents > .contents-02-container > ul > li.big-banner {
  width: 544px;
}

#wrap > section > .contents > .contents-02-container > ul > li.big-banner > a {
  display: block;
  height: 100%;
  text-indent: -9999px;
  background-image: url(./../images/a8ee4937-4a68-45c3-abdd-26c5a6b24321.png);
  border-radius: 10px;
}

#wrap > section > .contents > .contents-02-container > ul > li.video > iframe {
  width: 544px;
  height: 306px;
  border: 0;
  border-radius: 10px;
}

#wrap > section > .babystargram > .babystargram-container {
  width: 1120px;
  margin: 0 auto 50px;
}

#wrap > section > .babystargram > .babystargram-container > h2 {
  width: 1120px;
  margin: 0 auto 40px;
  font-size: 28px;
}

#wrap > section > .babystargram > .babystargram-container > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap > section > .babystargram > .babystargram-container > ol > li {
  width: 183px;
  height: 182px;
  background-size: contain;
}

#wrap > section > .babystargram > .babystargram-container > ol > li > a {
  display: block;
  line-height: 182px;
  text-indent: -9999px;
}

#wrap > section > .babystargram > .babystargram-container > ol > li:nth-child(1) {
  background-image: url(./../images/265658933_442512107246119_5878021842149362815_n.jpeg);
}

#wrap > section > .babystargram > .babystargram-container > ol > li:nth-child(2) {
  background-image: url(./../images/264943116_937831796829861_1203182384271344337_n.jpeg);
}

#wrap > section > .babystargram > .babystargram-container > ol > li:nth-child(3) {
  background-image: url(./../images/265359032_2022224427947613_8831144286547303051_n.jpeg);
}

#wrap > section > .babystargram > .babystargram-container > ol > li:nth-child(4) {
  background-image: url(./../images/263785626_132814639168483_5499586997864430281_n.jpeg);
}

#wrap > section > .babystargram > .babystargram-container > ol > li:nth-child(5) {
  background-image: url(./../images/264204645_113718121144443_1701197640035885937_n.jpeg);
}

#wrap > section > .babystargram > .babystargram-container > ol > li:nth-child(6) {
  background-image: url(./../images/264948958_1108286246613224_8530292904381364750_n.jpeg);
}

#wrap > footer {
  height: 347px;
  letter-spacing: 0;
  border-top: 1px solid #ccc;
}

#wrap > footer > .footer-container {
  width: 1120px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  border-top: 1px solid transparent;
}

#wrap > footer > .footer-container > h3 {
  width: 104px;
  margin-top: 45px;
}

#wrap > footer > .footer-container > h3 > a {
  display: block;
  line-height: 26px;
  text-indent: -9999px;
  background-image: url(./../images/bg_footer_logo.png);
}

#wrap > footer > .footer-container > .footer-namyang {
  position: absolute;
  left: 170px;
  top: 45px;
}

#wrap > footer > .footer-container > .footer-namyang > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 20px;
}

#wrap > footer > .footer-container > .footer-namyang > .list > li > a {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
}

#wrap > footer > .footer-container > .footer-namyang > .list > li::after {
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 15px;
  background-color: #ccc;
  content: '';
}

#wrap > footer > .footer-container > .footer-namyang > .list > li:first-child {
  margin-left: 0;
}

#wrap > footer > .footer-container > .footer-namyang > .list > li:last-child {
  margin-right: 0;
}

#wrap > footer > .footer-container > .footer-namyang > .list > li:last-child::after {
  display: none;
}

#wrap > footer > .footer-container > .footer-namyang > .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 650px;
  margin-bottom: 10px;
}

#wrap > footer > .footer-container > .footer-namyang > .info > li {
  color: #666;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

#wrap > footer > .footer-container > .footer-namyang > .info > li::after {
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 0 10px;
  background-color: #ccc;
  content: '';
}

#wrap > footer > .footer-container > .footer-namyang > .info > li:first-child, #wrap > footer > .footer-container > .footer-namyang > .info > li:nth-child(5) {
  margin-left: 0;
}

#wrap > footer > .footer-container > .footer-namyang > .info > li:nth-child(4)::after {
  display: none;
}

#wrap > footer > .footer-container > .footer-namyang > .info > li:last-child {
  margin-right: 0;
}

#wrap > footer > .footer-container > .footer-namyang > .info > li:last-child::after {
  display: none;
}

#wrap > footer > .footer-container > .footer-namyang > address {
  color: #666;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 11px;
}

#wrap > footer > .footer-container > .footer-namyang > p {
  color: #666;
  font-weight: 400;
  font-size: 12px;
}

#wrap > footer > .footer-container > .footer-namyang > .btm-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 15px;
}

#wrap > footer > .footer-container > .namyang-platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  right: 0;
  top: 40px;
}

#wrap > footer > .footer-container > .namyang-platform > .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#wrap > footer > .footer-container > .namyang-platform > .sns > li {
  margin-top: 4px;
  margin-right: 15px;
}

#wrap > footer > .footer-container > .namyang-platform > .sns > li > a {
  display: inline-block;
}

#wrap > footer > .footer-container > .namyang-platform > .sns > li > a > span {
  position: absolute;
  left: -9999px;
}

#wrap > footer > .footer-container > .namyang-platform > #family-site {
  width: 110px;
  height: 30px;
  margin-left: 15px;
  color: #666;
  font-weight: 400;
  font-size: 11px;
  text-indent: 10px;
  border: 1px solid #ccc;
}

#wrap > .scroll-up {
  position: fixed;
  right: 0;
  bottom: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
}

#wrap > .scroll-up > a {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  font-weight: 500;
  letter-spacing: 0;
}

#wrap > .scroll-up > a > span {
  position: absolute;
  left: 50%;
  top: 38px;
  margin-left: -11px;
  text-align: center;
}

#wrap > .scroll-up > a > span::before {
  display: block;
  position: absolute;
  left: 5px;
  top: -17px;
  width: 12px;
  height: 12px;
  background-image: url(./../images/ico_screen_top.png);
  content: '';
}

#wrap > .footer-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #333;
}

#wrap > .footer-menu > .menu-container {
  position: relative;
  width: 1120px;
  height: 100%;
  margin: 0 auto;
}

#wrap > .footer-menu > .menu-container > ul {
  position: absolute;
  left: 0;
  top: 0;
}

#wrap > .footer-menu > .menu-container > ul > li {
  margin-top: 17px;
}

#wrap > .footer-menu > .menu-container > ul > li > a {
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

#wrap > .footer-menu > .menu-container > ul > li > a::before {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background-image: url(./../images/ico_tab_circle_on.png);
  background-size: contain;
  content: '';
}

#wrap > .footer-menu > .menu-container > ul > li:last-child {
  opacity: 0.6;
}

#wrap > .footer-menu > .menu-container > ul > li:last-child > a::before {
  width: 9px;
  height: 9px;
  background-image: url(./../images/ico_tab_circle_off.png);
}

#wrap > .footer-menu > .menu-container > .day {
  position: absolute;
  left: 100px;
  top: 0;
  width: 860px;
  height: 100%;
}

#wrap > .footer-menu > .menu-container > .day > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 50%;
  bottom: 9px;
  margin-left: -400px;
  width: 800px;
}

#wrap > .footer-menu > .menu-container > .day > ol > li {
  position: relative;
  border-top: 1px dashed #888;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap > .footer-menu > .menu-container > .day > ol > li > a {
  display: block;
  width: 80px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
}

#wrap > .footer-menu > .menu-container > .day > ol > li::before {
  display: block;
  position: absolute;
  left: 50%;
  top: -7px;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  background-image: url(./../images/ico_tab_circle_off.png);
  content: '';
  cursor: pointer;
}

#wrap > .footer-menu > .menu-container > .day > ol > li:first-child > a {
  color: #ec1f2f;
  font-weight: 400;
  opacity: 1;
}

#wrap > .footer-menu > .menu-container > .day > ol > li:first-child::before {
  background-image: url(./../images/ico_tab_circle_on.png);
}

#wrap > .footer-menu > .menu-container > .day > .btn {
  display: block;
  position: absolute;
  top: 26px;
  width: 29px;
  height: 29px;
  text-indent: -9999px;
  background-size: contain;
  border-radius: 50%;
}

#wrap > .footer-menu > .menu-container > .day > .btn.prev {
  left: 0;
  background-image: url(./../images/ico_btn_right.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#wrap > .footer-menu > .menu-container > .day > .btn.next {
  right: 0;
  background-image: url(./../images/ico_btn_right.png);
}

#wrap > .footer-menu > .menu-container > p {
  position: absolute;
  right: 0;
  top: 0;
}

#wrap > .footer-menu > .menu-container > p > a {
  display: block;
  position: relative;
  width: 100px;
  height: 90px;
  padding-top: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  background-color: #ec1f2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap > .footer-menu > .menu-container > p > a > span {
  display: block;
}

#wrap > .footer-menu > .menu-container > p > a > span::after {
  display: block;
  position: absolute;
  left: 27px;
  bottom: 12px;
  font-weight: 100;
  letter-spacing: 0;
  opacity: 0.8;
  content: 'OPEN';
}

#wrap > .footer-menu > .menu-container > p > a::after {
  display: block;
  position: absolute;
  right: 27px;
  bottom: 19px;
  width: 8px;
  height: 6px;
  background-image: url(./../images/ico_sticky_arrow.png);
  background-position: 0 6px;
  content: '';
}
/*# sourceMappingURL=style.css.map */