@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
#wrap {
  font-family: 'Roboto', 'Noto Sans KR', serif;
}

#wrap > header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: 'Montserrat', 'Roboto', 'Noto Sans KR', serif;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#wrap > header > .nav-container {
  position: relative;
  width: 90%;
  min-width: 1300px;
  height: 80px;
  margin: 0 auto;
}

#wrap > header > .nav-container > .title-lee {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 56px;
  height: 70px;
  margin: -35px 0 0 -28px;
  background-image: url(./../images/nav_logo_bk.png);
  background-repeat: no-repeat;
}

#wrap > header > .nav-container > .title-lee > a {
  display: block;
  line-height: 70px;
  text-indent: -9999px;
}

#wrap > header > .nav-container > .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 0;
  top: 0px;
}

#wrap > header > .nav-container > .gnb > li {
  position: relative;
  margin-right: 30px;
  line-height: 80px;
}

#wrap > header > .nav-container > .gnb > li > a {
  font-weight: 600;
  font-size: 16px;
}

#wrap > header > .nav-container > .gnb > li:nth-child(1) > a {
  font-weight: 700;
}

#wrap > header > .nav-container > .gnb > li:nth-child(2) > a, #wrap > header > .nav-container > .gnb > li:nth-child(3) > a {
  color: blue;
}

#wrap > header > .nav-container > .gnb > li:nth-child(7) > a {
  margin-right: 0;
  color: red;
}

#wrap > header > .nav-container > .gnb > li > .lnb {
  display: none;
  position: absolute;
  left: 50%;
  top: 65px;
  width: 134px;
  margin-left: -67px;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid gainsboro;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap > header > .nav-container > .gnb > li > .lnb > li {
  height: 26px;
}

#wrap > header > .nav-container > .gnb > li > .lnb > li > a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

#wrap > header > .nav-container > .gnb > li > .lnb > li:hover {
  background-color: rgba(230, 230, 230, 0.5);
}

#wrap > header > .nav-container > .right-mnu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
}

#wrap > header > .nav-container > .right-mnu > li {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

#wrap > header > .nav-container > .right-mnu > li > a {
  display: block;
  line-height: 24px;
  text-indent: -9999px;
}

#wrap > header > .nav-container > .right-mnu > li:nth-child(1) {
  background-image: url(./../images/my_bk.svg);
}

#wrap > header > .nav-container > .right-mnu > li:nth-child(2) {
  background-image: url(./../images/cart_bk.svg);
}

#wrap > header > .nav-container > .right-mnu > li:nth-child(3) {
  margin-right: 0;
  background-image: url(./../images/sch.svg);
}

#wrap > aside {
  z-index: 900;
}

#wrap > aside.updown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: fixed;
  right: 26px;
  top: 50%;
  width: 44px;
  margin-top: -46px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

#wrap > aside.updown > a {
  display: block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  opacity: 0.5;
}

#wrap > aside.updown > a.up {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom: 1px solid #d2d2d2;
}

#wrap > aside.updown > a.down {
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#wrap > aside.inquiry {
  position: fixed;
  right: 13px;
  bottom: 110px;
}

#wrap > aside.inquiry > a {
  display: block;
}

#wrap > aside.inquiry > a > img {
  display: block;
  width: 128px;
}

#wrap > aside.inquiry > a::after {
  display: block;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 24px;
  height: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  background-color: #e45555;
  border-radius: 50%;
  content: '1';
}

#wrap > section#main-banner {
  position: relative;
  width: 100%;
  height: 680px;
  min-width: 1300px;
  margin-top: 80px;
}

#wrap > section#main-banner > .slides-container > .slides > li {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 680px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#wrap > section#main-banner > .slides-container > .slides > li > a {
  display: block;
  line-height: 680px;
  text-indent: -9999px;
}

#wrap > section#main-banner > .slides-container > .slides > li:nth-child(1) {
  display: block;
  background-image: url(./../images/SEASONOFF.gif);
}

#wrap > section#main-banner > .slides-container > .slides > li:nth-child(2) {
  background-image: url(./../images/gift_02.jpeg);
}

#wrap > section#main-banner > .slides-container > .slides > li:nth-child(3) {
  background-image: url(./../images/1202-1pc.jpeg);
}

#wrap > section#main-banner > .slides-container > .slides > li:nth-child(4) {
  background-image: url(./../images/11011.jpeg);
}

#wrap > section#main-banner > .slides-container > .slides > li:nth-child(5) {
  background-image: url(./../images/denim.jpeg);
}

#wrap > section#main-banner > .slides-container > .slides-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 50%;
  bottom: 18px;
  margin-left: calc(-87px/2);
}

#wrap > section#main-banner > .slides-container > .slides-pagination > li {
  width: 11px;
  height: 11px;
  margin-right: 8px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 0.8;
}

#wrap > section#main-banner > .slides-container > .slides-pagination > li > a {
  display: block;
  line-height: 11px;
  text-indent: -9999px;
}

#wrap > section#main-banner > .slides-container > .slides-pagination > li:last-child {
  margin-right: 0;
}

#wrap > section#main-banner > .slides-container > .slides-pagination > li.on, #wrap > section#main-banner > .slides-container > .slides-pagination > li:hover {
  background-color: #888;
}

#wrap > section#contents-banner {
  width: 1140px;
  margin: 60px auto 0;
}

#wrap > section#contents-banner > .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap > section#contents-banner > .contents > li > a {
  display: block;
  position: relative;
}

#wrap > section#contents-banner > .contents > li > a span > img {
  display: block;
  width: 366px;
  height: 100%;
}

#wrap > section#contents-banner > .contents > li > a span > .shadow {
  display: block;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 366px;
  height: 490px;
  background-color: rgba(255, 255, 255, 0.3);
}

#wrap > section#contents-banner > .contents > li > a > .text-box {
  padding: 20px 0 16px 10px;
}

#wrap > section#contents-banner > .contents > li > a > .text-box > h3 {
  color: #999;
  font-weight: 500;
  font-size: 13px;
}

#wrap > section#contents-banner > .contents > li > a > .text-box > p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 24px;
}

#wrap > section#slides-item {
  position: relative;
  width: 1140px;
  height: 700px;
  margin: 140px auto 0;
}

#wrap > section#slides-item > .text-box {
  margin-bottom: 30px;
  text-align: center;
}

#wrap > section#slides-item > .text-box > h2 {
  color: #444;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 1px;
}

#wrap > section#slides-item > .text-box > p {
  color: #333;
  font-weight: 600;
  font-size: 32px;
}

#wrap > section#slides-item > .text-box > span {
  display: block;
  margin: 13px 0 26px 0;
  color: #888;
  font-weight: 400;
  font-size: 15px;
}

#wrap > section#slides-item > .text-box > .gostore {
  width: 190px;
  height: 36px;
  margin: 0 auto;
  background-color: #333;
  border-radius: 5px;
}

#wrap > section#slides-item > .text-box > .gostore > a {
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 36px;
}

#wrap > section#slides-item > .slides {
  overflow: hidden;
  position: relative;
  width: 1140px;
  height: 462px;
  margin: 0 auto;
}

#wrap > section#slides-item > .slides > .slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(1140px * 5);
}

#wrap > section#slides-item > .slides > .slides-container > li {
  width: 1140px;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li {
  position: relative;
  width: calc(1140px/4);
  text-align: center;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > span {
  display: block;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .item-img > a {
  display: block;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .item-img > a > img {
  display: block;
  width: calc(1140px/4);
  height: 342px;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .icon {
  display: none;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .icon > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -48px;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .icon > span > a {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  text-indent: -99999px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .icon > span > a.mark {
  margin-right: 8px;
  background-image: url(./../images/icon_202104281408115900.png);
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .icon > span > a.like {
  background-image: url(./../images/icon_202104281408158700.png);
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .item-name {
  margin: 20px 0 10px 0;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .item-name > a {
  display: block;
  margin: 0 10px;
  color: #555;
  font-weight: 600;
  font-size: 18px;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .price {
  color: #999;
  text-decoration: line-through;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .discount {
  color: #555;
  font-weight: 400;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .discount > strong {
  color: #172a59;
}

#wrap > section#slides-item > .slides > .slides-container > li > .item > li > .soldout {
  margin-top: 3px;
}

#wrap > section#slides-item > .slides-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: calc(-87px/2);
}

#wrap > section#slides-item > .slides-pagination > li {
  width: 11px;
  height: 11px;
  margin-right: 8px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 0.8;
}

#wrap > section#slides-item > .slides-pagination > li > a {
  display: block;
  line-height: 11px;
  text-indent: -9999px;
}

#wrap > section#slides-item > .slides-pagination > li:last-child {
  margin-right: 0;
}

#wrap > section#slides-item > .slides-pagination > li.on, #wrap > section#slides-item > .slides-pagination > li:hover {
  background-color: #888;
}

#wrap > section#slides-item > .btn {
  display: block;
  position: absolute;
  top: 410px;
  font-size: 36px;
}

#wrap > section#slides-item > .btn.prev {
  left: -18px;
}

#wrap > section#slides-item > .btn.next {
  right: -18px;
}

#wrap > section#benefits {
  width: 1140px;
  margin: 130px auto 0;
}

#wrap > section#benefits > .text-box {
  margin-bottom: 30px;
  text-align: center;
}

#wrap > section#benefits > .text-box > h2 {
  color: #444;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 1px;
}

#wrap > section#benefits > .text-box > p {
  color: #333;
  font-weight: 600;
  font-size: 32px;
}

#wrap > section#benefits > .text-box > span {
  display: block;
  margin: 13px 0 26px 0;
  color: #888;
  font-weight: 400;
  font-size: 15px;
}

#wrap > section#benefits > .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

#wrap > section#benefits > .benefits > p {
  position: relative;
  width: 366px;
  height: 229px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

#wrap > section#benefits > .benefits > p > a {
  display: block;
  line-height: 225px;
  text-indent: -9999px;
  z-index: 1000;
}

#wrap > section#benefits > .benefits > p > a::after {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 366px;
  height: 229px;
  background-color: rgba(70, 70, 70, 0.1);
  border-radius: 5px;
  content: '';
}

#wrap > section#benefits > .benefits > p:nth-child(1) {
  background-image: url(./../images/contentBnrArea2_1.jpeg);
}

#wrap > section#benefits > .benefits > p:nth-child(2) {
  background-image: url(./../images/contentBnrArea2_2.jpeg);
}

#wrap > section#benefits > .benefits > p:nth-child(3) {
  background-image: url(./../images/contentBnrArea2_3.jpeg);
}

#wrap > section#benefits > .benefits > p:hover > a::after {
  display: block;
}

#wrap > section#slides-daily {
  width: 1140px;
  margin: 130px auto 0;
}

#wrap > section#slides-daily > .text-box {
  margin-bottom: 30px;
  text-align: center;
}

#wrap > section#slides-daily > .text-box > h2 {
  color: #444;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 1px;
}

#wrap > section#slides-daily > .text-box > p {
  color: #333;
  font-weight: 600;
  font-size: 32px;
}

#wrap > section#slides-daily > .text-box > span {
  display: block;
  margin: 13px 0 26px 0;
  color: #888;
  font-weight: 400;
  font-size: 15px;
}

#wrap > section#slides-daily > .text-box > .gostore {
  width: 190px;
  height: 36px;
  margin: 0 auto;
  background-color: #333;
  border-radius: 5px;
}

#wrap > section#slides-daily > .text-box > .gostore > a {
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 36px;
}

#wrap > section#slides-daily > .slides-box {
  position: relative;
  height: 505px;
}

#wrap > section#slides-daily > .slides-box > .slides {
  overflow: hidden;
  position: relative;
  height: 462px;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 0;
  top: 0;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li {
  position: relative;
  width: calc(1140px / 4);
  height: 462px;
  text-align: center;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > .pick-name {
  margin: 20px 0 10px 0;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > .pick-name > a {
  display: block;
  margin: 0 10px;
  color: #555;
  font-weight: 600;
  font-size: 18px;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span {
  display: block;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.pick-img {
  height: 342px;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.pick-img > a {
  display: block;
  line-height: 342px;
  text-indent: -9999px;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.pick-img > a > img {
  display: block;
  width: calc(1140px/4);
  height: 342px;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.icon {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -48px;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.icon > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.icon > span > a {
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.9;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.icon > span > a.mark {
  margin-right: 8px;
  background-image: url(./../images/icon_202104281408115900.png);
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.icon > span > a.like {
  background-image: url(./../images/icon_202104281408158700.png);
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.price {
  color: #999;
  text-decoration: line-through;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.price > .discount {
  color: #555;
  font-weight: 400;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.price > .discount > strong {
  color: #172a59;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.discount {
  color: #555;
  font-weight: 400;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.discount > strong {
  color: #172a59;
}

#wrap > section#slides-daily > .slides-box > .slides > .slides-container > li > .pick > li > span.soldout {
  margin-top: 3px;
}

#wrap > section#slides-daily > .slides-box > .slides-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -15px;
}

#wrap > section#slides-daily > .slides-box > .slides-pagination > li {
  width: 11px;
  height: 11px;
  margin-right: 8px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 0.8;
}

#wrap > section#slides-daily > .slides-box > .slides-pagination > li > a {
  display: block;
  line-height: 11px;
  text-indent: -9999px;
}

#wrap > section#slides-daily > .slides-box > .slides-pagination > li:last-child {
  margin-right: 0;
}

#wrap > section#slides-daily > .slides-box > .slides-pagination > li.on, #wrap > section#slides-daily > .slides-box > .slides-pagination > li:hover {
  background-color: #888;
}

#wrap > section#slides-daily > .slides-box > .btn {
  display: block;
  position: absolute;
  top: 198px;
  font-size: 36px;
}

#wrap > section#slides-daily > .slides-box > .btn.prev {
  left: -18px;
}

#wrap > section#slides-daily > .slides-box > .btn.next {
  right: -18px;
}

#wrap > footer {
  position: relative;
  margin-top: 160px;
  background-color: #f9f9f9;
}

#wrap > footer::after {
  display: block;
  position: absolute;
  top: 429px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  content: '';
}

#wrap > footer > .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 1300px;
  margin: 0 auto;
  padding: 90px 0;
}

#wrap > footer > .footer-container > .footer-title {
  width: 110px;
  height: 50px;
  margin-right: 50px;
  text-indent: -9999px;
  background-image: url(./../images/ft_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#wrap > footer > .footer-container > .corp-info {
  width: 610px;
  margin-right: 70px;
}

#wrap > footer > .footer-container > .corp-info > .fnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#wrap > footer > .footer-container > .corp-info > .fnb > li {
  margin-right: 12px;
}

#wrap > footer > .footer-container > .corp-info > .fnb > li:last-child {
  margin-right: 0;
}

#wrap > footer > .footer-container > .corp-info > .fnb > li > a {
  display: block;
  color: #333;
  font-weight: 400;
  font-size: 16px;
}

#wrap > footer > .footer-container > .corp-info > .info {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#wrap > footer > .footer-container > .corp-info > .info > li {
  margin-right: 12px;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

#wrap > footer > .footer-container > .corp-info > .info > li:last-child {
  margin-right: 0;
}

#wrap > footer > .footer-container > .corp-info > .info > li > strong {
  margin-right: 12px;
  font-weight: 500;
}

#wrap > footer > .footer-container > .corp-info > p {
  color: #999;
  font-weight: 400;
  font-size: 14px;
}

#wrap > footer > .footer-container > .call-center {
  margin-right: 200px;
}

#wrap > footer > .footer-container > .call-center > h4 {
  font-size: 14px;
}

#wrap > footer > .footer-container > .call-center > p {
  margin: 8px 0;
  font-weight: 500;
  font-size: 23px;
}

#wrap > footer > .footer-container > .call-center > span {
  display: block;
  color: #666;
  font-weight: 400;
  font-size: 13px;
}

#wrap > footer > .footer-container > .follow > h4 {
  margin-bottom: 10px;
  font-size: 14px;
}

#wrap > footer > .footer-container > .follow > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#wrap > footer > .footer-container > .follow > p > span {
  margin-right: 6px;
}

#wrap > footer > .footer-container > .follow > p > span > a {
  display: block;
}

#wrap > footer > .footer-container > .follow > p > span > a > img {
  width: 30px;
  height: 30px;
}

#wrap > footer > .address-container {
  position: relative;
  width: 90%;
  min-width: 1300px;
  height: 140px;
  margin: 0 auto;
}

#wrap > footer > .address-container > address {
  position: absolute;
  left: 0;
  top: 64px;
  color: #666;
  font-weight: 400;
}

#wrap > footer > .address-container > .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  width: 253px;
  height: 20px;
  margin-top: -10px;
  background-image: url(./../images/copyArea_bg.png);
}

#wrap > footer > .address-container > .link > p {
  text-indent: -9999px;
}
/*# sourceMappingURL=style.css.map */